@{
    ViewData["Title"] = "General Survey";
}

<h1>General Survey</h1>
<h4>What is your preferred mode of public transport?</h4>

<button id="button1" class="clickable-button" data-ga-category="Button Clicks" data-ga-action="Click" data-ga-label="Button 1">Cab</button>
<button id="button2" class="clickable-button" data-ga-category="Button Clicks" data-ga-action="Click" data-ga-label="Button 2">Auto</button>
<button id="button3" class="clickable-button" data-ga-category="Button Clicks" data-ga-action="Click" data-ga-label="Button 3">Bus</button>
<button id="button4" class="clickable-button" data-ga-category="Button Clicks" data-ga-action="Click" data-ga-label="Button 4">Bike Taxi</button>