@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Take a Quick Survey here <a href="https://localhost:7029/Home/Buttons"> Survey </a> </p>
</div>
